* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gilroy';
   font-family: sans-serif;
}

html, body {
   width: 100%;
   height: 100%;
}

#page1 {
    width: 100vw;
    height: 100vh; 
    background-color: #242424;
    background-image: url('hero.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    position: relative;
    z-index: 999;
    overflow: hidden;
}


#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}

#navbar{
    height: 70px;
    width: 95vw;
    margin: auto;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1.5vw;
}

#navbar #links ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

    
}

#navbar #links ul li a{
    text-decoration: none;
    color: white;
    font-family:sans-serif;

}

#logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    color: white;
    font-family: cursive;
    letter-spacing: 10px;
}


#links ul #custom{
    padding: 10px 20px;
    border-radius: 20px;
    transition: all ease 0.5s;
}

#links ul #custom:hover{
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.354);
    backdrop-filter: blur(10px);
    transition: all ease 0.5s;
}

#page1-hero{
    height: calc(100vh - 70px);
    width: 100vw;
    color: white;

}

#page1-hero h1{
    font-size: 4.9rem;
    font-weight: 600;
    font-weight: 700;
    margin: 0;
    padding: 3rem;
    line-height: 5.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#page1-hero #content{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#page1-hero #content h2{
    text-align: end;
    font-size: 3vw;

    line-height: 3.1vw;
    font-weight: 500;
}

#page1-hero #content button{
    background-color: transparent;
    text-decoration: underline;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: all ease 0.5s;
}

#page1-footer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 1.5rem 1.5rem;


}

#left-footer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#left-footer h3{
    font-size: 1.3rem;
    color: white;
    font-weight: 300;
}

#left-footer h3 span{
    color: #b4b0b0;
}

#left-footer h4{
    width: 19vw;
    font-weight: 500;
    line-height: 1.1vw;
}

#left-footer h4 span{
    color: #b4b0b0;
}

#right-footer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* gap: 20px; */
}

#right-footer h4{
    font-size: 1.1rem;
    color: #b4b0b0;
    border: 1px solid #b4b0b0;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    font-weight: 300;
}

#right-footer p{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.1rem;
    color: #b4b0b0;
    border: 1px solid #b4b0b0;
    padding: 0.5rem 1.2rem;
    border-radius: 50%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}


#menu {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}

#full {
    height: 100vh;
    width: 35vh;
    background-color: rgba(101, 94, 94, 0.444);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: -40vh;
    padding: 15vh 8vh;
    transition: all ease 0.5s;
}

#full h4{
    margin-top: 2vw;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;


}

#full i{
    position: absolute;
    top: 2%;
    left: 6%;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 50%;
    padding: 1vh;
    cursor: pointer;
}

@media (max-width: 800px) {
    #menu {
        display: block;
    }
    
    #links{
        display: none;
    }
 

    #page1-hero h1 {
        font-size: 3.5rem;
        line-height: 4.2rem;
        padding: 2rem;
        text-align: center;
        margin-top: 2vw;
    }

    #page1-hero #content{
        height: 56vh;
        flex-direction: column;
        align-items: center;
    }

    #page1-hero #content h2{
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.7rem;
    }

    #page1-hero #content button{
        margin-top: 10vw;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
    
    #left-footer h3{
        font-size: 1.3rem;
        color: white;
        font-weight: 300;
    }

    #right-footer h4{
        font-size: 0.8rem;
    }

    #right-footer p{
        height: 1.3rem;
        width: 1.3rem;
        padding: 1rem;
        font-size: 0.9rem;
    }

   
}



@media (max-width: 560px) {
    #page1-hero h1 {
        font-size: 2.5rem;
        line-height: 3.2rem;
        padding: 1.5rem;
    }

    #page1-hero #content h2{
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    #page1-hero #content{
        height: 58vh;
        flex-direction: column;
        align-items: center;
    }

    #page1-hero #content button{
        margin-top: 35vw;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
  
}



@media (max-width: 400px) {
    #page1-hero h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 1rem;
    }

    #page1-hero #content{
        height: 62vh;
        flex-direction: column;
        align-items: center;
    }

    #page1-hero #content h2{
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

   

    #page1-hero #content button{
        margin-top: 20vw;
        text-align: center;
        font-size: 1rem;
        line-height: 2.7rem;
    }
}

@media (max-width: 360px) {
    #page1-hero h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 1rem;
    }

    #page1-hero #content{
        height: 65vh;
        flex-direction: column;
        align-items: center;
    }

    #page1-hero #content h2{
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

   

    #page1-hero #content button{
        margin-top: 20vw;
        text-align: center;
        font-size: 1rem;
        line-height: 2.7rem;
    }
}



@media (min-height: 1368px) {
    #page1{
        height: 110vh;
        overflow-x: hidden ;
    }

    #page1-hero h1 {
        font-size: 3.5rem;
        line-height: 4.2rem;
        padding: 2rem;
        text-align: center;
        margin-top: 2vw;
    }

    #page1-hero #content{
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   

    #page1-hero #content h2{
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.7rem;
    }

    #page1-hero #content button{
        margin-top: 10vw;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
    
    #left-footer h3{
        font-size: 1.3rem;
        color: white;
        font-weight: 300;
    }

    #right-footer h4{
        font-size: 0.8rem;
    }

    #right-footer p{
        height: 1.3rem;
        width: 1.3rem;
        padding: 1rem;
        font-size: 0.9rem;
    }


   
   
}


@media (min-height: 1366px) {
    #page1{
        height: 110vh;
        overflow-x: hidden ;
    }

    #page1-hero h1 {
        font-size: 3.5rem;
        line-height: 4.2rem;
        padding: 2rem;
        text-align: center;
        margin-top: 2vw;
    }

    #page1-hero #content{
        height: 20vh;
        flex-direction: column;
        align-items: center;
    }

   

    #page1-hero #content h2{
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.7rem;
    }

    #page1-hero #content button{
        margin-top: 10vw;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
    
    #left-footer h3{
        font-size: 1.3rem;
        color: white;
        font-weight: 300;
    }

    #right-footer h4{
        font-size: 0.8rem;
    }

    #right-footer p{
        height: 1.3rem;
        width: 1.3rem;
        padding: 1rem;
        font-size: 0.9rem;
    }


   
   
}

@media (min-height: 1280px) {
    #page1{
        height: 108vh;
        overflow-x: hidden ;
    }

    #page1-hero h1 {
        font-size: 3.5rem;
        line-height: 4.2rem;
        padding: 2rem;
        text-align: center;
        margin-top: 2vw;
    }

    #page1-hero #content{
        height: 20vh;
        flex-direction: column;
        align-items: center;
    }

   

    #page1-hero #content h2{
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.7rem;
    }

    #page1-hero #content button{
        margin-top: 10vw;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
    
    #left-footer h3{
        font-size: 1.3rem;
        color: white;
        font-weight: 300;
    }

    #right-footer h4{
        font-size: 0.8rem;
    }

    #right-footer p{
        height: 1.3rem;
        width: 1.3rem;
        padding: 1rem;
        font-size: 0.9rem;
    }


   
   
}


@media (min-height: 1180px) {
    #page1{
        min-height: 102vh;
        overflow-x: hidden ;
    }

    #page1-hero h1 {
        font-size: 3.5rem;
        line-height: 4.2rem;
        padding: 2rem;
        text-align: center;
        margin-top: 2vw;
    }

    #page1-hero #content{
        height: 20vh;
        flex-direction: column;
        align-items: center;
    }

   

    #page1-hero #content h2{
        text-align: center;
        font-size: 2.2rem;
        line-height: 2.7rem;
    }

    #page1-hero #content button{
        margin-top: 10vw;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
    
    #left-footer h3{
        font-size: 1.3rem;
        color: white;
        font-weight: 300;
    }

    #right-footer h4{
        font-size: 0.8rem;
    }

    #right-footer p{
        height: 1.3rem;
        width: 1.3rem;
        padding: 1rem;
        font-size: 0.9rem;
    }


   
   
}





@media (min-height: 1024px) {

    #page1-hero #content{
        height: 45vh;
        flex-direction: column;
        align-items: center;
    }
   
}










