* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gilroy';
   font-family: sans-serif;
}

html, body {
   width: 100%;
   height: 100%;
}

#page1{
    height: 100vh;
    background-color: #242424;
    background-image: url('https://images.unsplash.com/photo-1611016186353-9af58c69a533?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 999;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}

#navbar{
    height: 70px;
    width: 95vw;
    margin: auto;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1.5vw;
}

#navbar #links ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

    
}

#navbar #links ul li a{
    text-decoration: none;
    color: white;
    font-family:sans-serif;

}

#logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    color: white;
    font-family: cursive;
    letter-spacing: 10px;
}


#links ul #custom{
    padding: 10px 20px;
    border-radius: 20px;
    transition: all ease 0.5s;
}

#links ul #custom:hover{
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.354);
    backdrop-filter: blur(10px);
    transition: all ease 0.5s;
}

#page1-hero{
    height: calc(100vh - 70px);
    width: 100vw;
    color: white;
    /* background-color: pink; */

}

#page1-hero h1{
    width: 48vw;
    /* background-color: red; */
    font-size: 4.9vw;
    font-weight: 600;
    font-weight: 700;
    margin: 0;
    padding: 3vw;
    line-height: 5.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#page1-hero #content{
    width: 100vw;
    height: 45vh;
    /* background-color: red; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-size: 1.5vw;
    padding: 3vw;
    line-height: 2.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#page1-hero #content h2{
    width: 30vw;
    text-align: end;
    line-height: 2.5vw;
    font-weight: 500;
    /* background-color: pink; */
}

#page1-hero #content button{
    background-color: transparent;
    text-decoration: underline;
    color: white;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
    transition: all ease 0.5s;
}

#page1-footer{
    width: 95vw;
    height: 5vw;
    /* background-color: rgba(255, 192, 203, 0.313); */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 0vw 1.5vw;


}

#left-footer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#left-footer h3{
    font-size: 1.1vw;
    color: white;
    font-weight: 300;
}

#left-footer h3 span{
    color: #b4b0b0;
}

#left-footer h4{
    width: 19vw;
    font-weight: 500;
    line-height: 1.1vw;
}

#left-footer h4 span{
    color: #b4b0b0;
}

#right-footer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* gap: 20px; */
}

#right-footer h4{
    font-size: 1.1vw;
    color: #b4b0b0;
    border: 1px solid #b4b0b0;
    padding: 0.5vw 1.2vw;
    border-radius: 2vw;
    font-weight: 300;
}

#right-footer p{
    height: 2.5vw;
    width: 2.5vw;
    font-size: 1.1vw;
    color: #b4b0b0;
    border: 1px solid #b4b0b0;
    padding: 0.5vw 1.2vw;
    border-radius: 50%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}


#menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}

@media (max-width: 800px) {
    #menu-toggle {
        display: block;
    }
    #full {
        height: 100%;
        width: 40%;
        background-color: rgba(101, 94, 94, 0.444);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: -40%;
        padding: 15vh 2vh;
    }

    #full h4{
        margin-top: 2vw;
        font-size: 5vw;
        font-family:'Courier New', Courier, monospace;
        font-weight: 600;


    }

    #full i{
        position: absolute;
        top: 2%;
        left: 6%;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.46);
        border-radius: 50%;
        padding: 1vh;
    }
    #links.active {
        display: flex;
    }
}


